* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
  margin-bottom: 57px;
}
.header__left {
  width: 177px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left_title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.header__right {
  width: 243px;
  display: flex;
  justify-content: space-between;
}
.header__right_nav {
  color: #292f36;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.banner {
  height: 356px;
  background-image: url(../image/blog_banner.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 200px;
}
.banner__intro {
  padding: 41px 78px;
  border-radius: 37px 37px 0px 0px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  margin-bottom: 150px;
}
.post__header {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  margin-bottom: 27px;
}
.post__content {
  padding: 22px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  display: flex;
  gap: 65px;
}
.post__content img {
  width: 569px;
  height: 478px;
  border-radius: 50px;
}
.post__content_txt {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  width: 469px;
}
.post__content_txt_header {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.post__content_txt_text {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.post__content_txt_wrapper {
  display: flex;
  width: 489px;
  align-items: center;
  justify-content: space-between;
}
.post__content_txt_wrapper_text {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.post__content_txt_wrapper_arrow:hover {
  cursor: pointer;
}
.post__content_txt_wrapper_arrow:hover circle {
  fill: #cda274;
}

.news {
  margin-bottom: 200px;
}

.footer {
  height: 272px;
  margin-bottom: 134px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__link {
  width: 393px;
  display: flex;
  flex-direction: column;
}
.footer__link_logo {
  width: 177px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.footer__link_logo_title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.footer__link_text {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-bottom: 31px;
}
.footer__link_icons {
  display: flex;
  width: 225px;
  align-items: center;
  gap: 54px;
}
.footer__pages {
  width: 125px;
  display: flex;
  flex-direction: column;
}
.footer__pages_header {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 9px;
}
.footer__pages_item {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}
.footer__contacts {
  width: 258px;
}
.footer__contacts_header {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 26px;
}
.footer__contacts_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-end;
}
.footer__contacts_text {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}/*# sourceMappingURL=styleBlog.css.map */